# Jupyter notebook for development and testing of added functionality

In case of need to rerun - consider running cells starting from specific header, not from the very start of entire notebook

# 23/02: Logging

In [1]:
# Относительные ссылки, включая импорты, относительно корневой папки проекта
import os

os.chdir(os.path.dirname(os.getcwd()))

import main
import logging

# initialize
logger = logging.getLogger()
# initialize config dict
config = main.main_launch()
# SUBSTITUTE FOR TESTING
# TODO

In [2]:
import time

# Test several log messages - they should appear in ./app/logs/*.log file
for idx in range(3):
    logger.info(idx)
    logger.info("This is a INFO message")
    logger.warning("This is a WARNING message")
    logger.error("This is an ERROR message")
    time.sleep(5)

[INFO   ] 2025-02-23@22:02:20: 0
[INFO   ] 2025-02-23@22:02:20: This is a INFO message
[WARNING] 2025-02-23@22:02:20: This is a WARNING message
[ERROR  ] 2025-02-23@22:02:20: This is an ERROR message
[INFO   ] 2025-02-23@22:02:25: 1
[INFO   ] 2025-02-23@22:02:25: This is a INFO message
[WARNING] 2025-02-23@22:02:25: This is a WARNING message
[ERROR  ] 2025-02-23@22:02:25: This is an ERROR message
[INFO   ] 2025-02-23@22:02:30: 2
[INFO   ] 2025-02-23@22:02:30: This is a INFO message
[WARNING] 2025-02-23@22:02:30: This is a WARNING message
[ERROR  ] 2025-02-23@22:02:30: This is an ERROR message

# 23/02: YFinance - data download

In [1]:
# Относительные ссылки, включая импорты, относительно корневой папки проекта
import os

os.chdir(os.path.dirname(os.getcwd()))

import main
import logging

# initialize
logger = logging.getLogger()
# initialize config dict
config = main.main_launch()
# SUBSTITUTE FOR TESTING
# TODO

In [2]:
import pandas as pd
import yfinance as yf

In [3]:
# Test of data download - single ticker
df = yf.download("BTC-USD", start='2024-03-30', end='2024-06-02', interval='1h')#.drop(columns=['Adj Close'])
df.shape

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

(1536, 5)

In [4]:
df

Price,Close,High,Low,Open,Volume
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
Datetime,,,,,
2024-03-30 00:00:00+00:00,69960.109375,69960.109375,69807.460938,69889.773438,0
2024-03-30 01:00:00+00:00,70023.867188,70171.398438,69884.984375,69969.039062,61065216
2024-03-30 02:00:00+00:00,69976.976562,70039.960938,69896.804688,70026.062500,0
2024-03-30 03:00:00+00:00,69802.085938,70056.468750,69802.085938,69979.453125,0
2024-03-30 04:00:00+00:00,70105.617188,70109.734375,69807.390625,69815.187500,0
...,...,...,...,...,...
2024-06-01 19:00:00+00:00,67708.835938,67728.062500,67638.000000,67711.250000,0
2024-06-01 20:00:00+00:00,67734.062500,67734.062500,67659.718750,67695.601562,0
2024-06-01 21:00:00+00:00,67730.257812,67761.507812,67664.460938,67741.742188,0
2024-06-01 22:00:00+00:00,67729.992188,67812.679688,67678.984375,67702.656250,0
2024-06-01 23:00:00+00:00,67708.117188,67763.703125,67692.281250,67732.968750,0

In [5]:
# S&P500 index
ticker = "^GSPC"
start_dt = "2024-02-23"
end_dt = "2025-02-23" #"2024-06-02"
interval = "1d"

df = yf.download(ticker, start=start_dt, end=end_dt, interval=interval)#.drop(columns=['Adj Close'])

[*********************100%***********************]  1 of 1 completed

In [6]:
df

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2024-02-23  5088.799805  5111.060059  5081.459961  5100.919922  3672790000
2024-02-26  5069.529785  5097.660156  5068.910156  5093.000000  3683930000
2024-02-27  5078.180176  5080.689941  5057.290039  5074.600098  3925950000
2024-02-28  5069.759766  5077.370117  5058.350098  5067.200195  3789370000
2024-02-29  5096.270020  5104.990234  5061.890137  5085.359863  5219740000
...                 ...          ...          ...          ...         ...
2025-02-14  6114.629883  6127.470215  6107.620117  6115.520020  4335190000
2025-02-18  6129.580078  6129.629883  6099.509766  6121.600098  4684980000
2025-02-19  6144.149902  6147.430176  6111.149902  6117.759766  4562330000
2025-02-20  6117.520020  6134.500000  6084.589844  6134.500000  4813690000
2025-02-21  6013.129883  6114.819824  6008.560059  6114.100098  5434560000

[250 rows x 5 columns]

In [7]:
# List of all S&P500 companies
snp500_tickers = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]['Symbol'].to_list()
# Just in case there are duplicates
snp500_tickers = list(set(snp500_tickers))
logger.info(f"Got list of S&P500 companies from Wikipedia, {len(snp500_tickers):,d} tickers")

[INFO   ] 2025-02-23@23:09:19: Got list of S&P500 companies from Wikipedia, 503 tickers

In [8]:
# all companies from S&P500
all_tickers = ["^GSPC"] + snp500_tickers
start_dt = "2024-02-23"
end_dt = "2025-02-23" #"2024-06-02"
interval = "1d"

df = yf.download(all_tickers, start=start_dt, end=end_dt, interval=interval)#.drop(columns=['Adj Close'])
df.shape

[*********************100%***********************]  504 of 504 completed
[ERROR  ] 2025-02-23@23:09:40:
2 Failed downloads:
[ERROR  ] 2025-02-23@23:09:40: ['BF.B']: YFPricesMissingError('possibly delisted; no price data found  (1d 2024-02-23 -> 2025-02-23)')
[ERROR  ] 2025-02-23@23:09:40: ['BRK.B']: YFTzMissingError('possibly delisted; no timezone found')

(250, 2522)

In [9]:
df

Price      Adj Close             Close                                      \
Ticker          BF.B BRK.B           A        AAPL        ABBV        ABNB
Date
2024-02-23       NaN   NaN  131.120193  181.662231  171.830597  152.660004
2024-02-26       NaN   NaN  130.583923  180.308624  172.525299  149.270004
2024-02-27       NaN   NaN  131.636612  181.771713  172.698975  152.059998
2024-02-28       NaN   NaN  136.065887  180.567398  171.743790  153.429993
2024-02-29       NaN   NaN  136.413467  179.900543  169.862320  157.470001
...              ...   ...         ...         ...         ...         ...
2025-02-14       NaN   NaN  134.669998  244.600006  192.869995  161.419998
2025-02-18       NaN   NaN  135.199997  244.470001  196.250000  160.600006
2025-02-19       NaN   NaN  137.149994  244.869995  197.350006  157.979996
2025-02-20       NaN   NaN  136.789993  245.830002  200.880005  155.309998
2025-02-21       NaN   NaN  135.369995  245.550003  202.080002  146.070007

Price                                                      ...   Volume  \
Ticker             ABT       ACGL         ACN        ADBE  ...       WY
Date                                                       ...
2024-02-23  117.074127  83.003937  372.706451  553.440002  ...  2309300
2024-02-26  116.319511  82.994423  372.864471  560.479980  ...  3141000
2024-02-27  117.015335  82.937370  373.289215  552.489990  ...  2654400
2024-02-28  117.652344  83.945320  373.407715  551.820007  ...  3731600
2024-02-29  116.270508  83.289200  370.197479  560.280029  ...  5424200
...                ...        ...         ...         ...  ...      ...
2025-02-14  130.610001  88.199997  388.000000  460.160004  ...  2638800
2025-02-18  130.179993  88.330002  387.559998  464.109985  ...  2892100
2025-02-19  132.130005  88.690002  390.220001  456.989990  ...  4486300
2025-02-20  133.169998  89.050003  384.839996  454.690002  ...  5923700
2025-02-21  134.919998  88.129997  364.260010  444.320007  ...  4549800

Price                                                                        \
Ticker         WYNN       XEL       XOM      XYL      YUM      ZBH     ZBRA
Date
2024-02-23  1515700   2415400  15975900   739200  1592200  1023500   269300
2024-02-26  1176800   2418900  13360800  1115200  1769800  1659700   336900
2024-02-27  1536900   5752600  16360000   932200  1827100   840200   194600
2024-02-28  1327500   6761900  14810500   877000  1417500  1415700   212900
2024-02-29  2241100  22782200  17566100  1829200  2257700  2415800   400900
...             ...       ...       ...      ...      ...      ...      ...
2025-02-14  9031600   4167800  15733500  1162500  1970800  2100000   868900
2025-02-18  5199200   3177200  20060300  1132100  2104600  1777900  1150100
2025-02-19  2493500   2425300  10964700  1006700  1433600  2236700   568000
2025-02-20  3407500   1878400  16325800   830700  2351400  1374500   560600
2025-02-21  2961200   2379400  14678000  1234300  2187600  2132100   587700

Price
Ticker          ZTS       ^GSPC
Date
2024-02-23  2391100  3672790000
2024-02-26  2098500  3683930000
2024-02-27  1982500  3925950000
2024-02-28  2003300  3789370000
2024-02-29  2849200  5219740000
...             ...         ...
2025-02-14  7657200  4335190000
2025-02-18  6903600  4684980000
2025-02-19  4015300  4562330000
2025-02-20  4348300  4813690000
2025-02-21  3299300  5434560000

[250 rows x 2522 columns]

In [10]:
# Get all tickers defined in homework - daily, over last year (all defined in config.Config)
logger.info(f"{len(config.TICKERS):,d} tickers in total will be downloaded")
df = yf.download(
    config.TICKERS, start=config.START_DT, end=config.END_DT, interval=config.INTERVAL
)
df.shape

[INFO   ] 2025-02-23@23:09:46: 508 tickers in total will be downloaded
[*********************100%***********************]  508 of 508 completed
[ERROR  ] 2025-02-23@23:10:06:
2 Failed downloads:
[ERROR  ] 2025-02-23@23:10:06: ['BF.B']: YFPricesMissingError('possibly delisted; no price data found  (1d 2024-02-24 -> 2025-02-23)')
[ERROR  ] 2025-02-23@23:10:06: ['BRK.B']: YFTzMissingError('possibly delisted; no timezone found')

(365, 2542)

In [14]:
# TODO: .drop(columns=['Adj Close']) - they are present for tickers that cause errors
df.columns

MultiIndex([('Adj Close',    'BF.B'),
            ('Adj Close',   'BRK.B'),
            (    'Close',       'A'),
            (    'Close',    'AAPL'),
            (    'Close',    'ABBV'),
            (    'Close',    'ABNB'),
            (    'Close',     'ABT'),
            (    'Close',    'ACGL'),
            (    'Close',     'ACN'),
            (    'Close',    'ADBE'),
            ...
            (   'Volume',    'WYNN'),
            (   'Volume',     'XEL'),
            (   'Volume',     'XOM'),
            (   'Volume', 'XRP-USD'),
            (   'Volume',     'XYL'),
            (   'Volume',     'YUM'),
            (   'Volume',     'ZBH'),
            (   'Volume',    'ZBRA'),
            (   'Volume',     'ZTS'),
            (   'Volume',   '^GSPC')],
           names=['Price', 'Ticker'], length=2542)